html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; 
  height: 100vh;
  background-color: #0d0e15; 
}

*, *::before, *::after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
